
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
  }

  #introduction {
    color: #ffffff;
    text-align: center;
    padding: 10vh;
    padding-top: 5vh;
    background: url(messy-pizza-on-a-black-table.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-size: larger;
    
  }


  #introduction h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 10px;
    text-shadow: 0 0 2px #000000, 0 0 5px #000000; 

  }
  
  #introduction h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-shadow: 0 0 2px #000000, 0 0 5px #000000;
  }
  
  #introduction h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    text-shadow: 0 0 2px #000000, 0 0 5px #000000;
  }
  
  #introduction p {
    font-size: 1em;
    margin-bottom: 20px;
    padding: 20px;
    text-shadow: 0 0 2px #000000, 0 0 5px #000000;
    
  }
  button{
    background-color: aqua;
    color: #000000;
  }
  #location{
    margin: auto ;
    max-width: 60vh; 
    background: transparent;
    border: 2px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(62, 62, 62, 0.3);
    color: rgb(13, 172, 235);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    font-size: larger;

  }

  #location #kol{
    font-size: medium;
    padding-top: 0px;
    text-shadow: none;
  }

  #midwrite{
      max-width:100vh; 
      margin: auto;
  }


  input{
    text-align: center;
    width: 80%;
    height: 2.5vh;
  }
  button{
    width: 15vh;
    height: 4vh;
    border-radius: 10px;
    background: transparent;
    color: white;
    box-shadow: 0 0 10px rgba(148, 148, 148, 0.2);
  }

  button:hover{
    width: 16vh;
    height: 5vh;
  }

  #authentic {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    padding: 10vh;
  }
  
  #authentic h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  #authentic p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  #lastwrite{
      max-width:100vh; 
      margin: auto;
  }
  
#End{
  background-image: url(last.jpg);
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  transition: 5s;

  animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: initial;
  animation-play-state: running;
  animation-timing-function: ease;
}

@keyframes animate {
  0%{
      background: url(bg.jpeg) no-repeat;
      background-size: cover;
      background-position: center; 

  }
  20%{ 
      background: url(bg2.jpg) no-repeat;
      background-size: cover;
      background-position: center; 
  }
  40%{
      background: url(bg3.jpg) no-repeat;
      background-size: cover;
      background-position: center; 
  }
  60%{
      background: url(bg4.jpg) no-repeat;
      background-size: cover;
      background-position: center; 
  }
  80%{
      background: url(bg5.jpg) no-repeat;
      background-size: cover;
      background-position: center; 
  }
  100%{
      background: url(last.jpg) no-repeat;
      background-size: cover;
      background-position: center; 
  }
}